.main-container {
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .main-container h2 {
    font-size: 24px;
    color: #333;
  }
  
  .main-container a {
    margin: 20px;
  }

  .greeting {
    margin: 10px 40px 0;
    font-size: 20px;
  }

  .greeting button {
    padding: 10px 20px;
    background-color: #EA7200;
    color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
  }

  .greeting button:hover {
    cursor: pointer;
    background-color: #006F8E;
  }